@import 'variables.sass'

// Resets & global styles
*
  margin: 0px
  padding: 0px
  box-sizing: border-box
  font-family: $font-stack
body
  background-color: $grey5
  position: relative
.container
  max-width: $max-width
  margin: 0px auto
  padding: 14px
h1, h2, h3, h4, h5
  color: $grey1
p
  color: $grey2
hr
  border: none
  border-bottom: 1px solid $grey4
  width: 100%
ul
  list-style-type: none
a.button, button
  font-family: $font-stack
  background-color: $blue
  padding: 10px
  font-size: 1em
  border: none
  border-radius: 1px
  color: $white
  margin-top: 10px
  min-width: 100px
  cursor: pointer
.spinner
  height: 5px
  width: 100%
  position: fixed
  top: calc(36px + 98px)
  // left: 0px
  overflow: hidden
  background-color: transparentize($grey4, 0.8)
  &:before
    display: block
    position: absolute
    content: ""
    left: -200px
    width: 200px
    height: 4px
    background-color: transparentize($orange, 0.6)
    animation: loading 2s linear infinite
    transition: 0.1s

h5.notice
  font-size: 2em
  color: $grey2
  text-align: center
  margin: 40px 0px 10px 0px
p.notice
  color: $grey3
  text-align: center


.hidden
  display: none

// Animation
@keyframes fadeIn
from
  opacity: 0
to
  opacity: 1

@keyframes loading
  from
    left: -200px
    width: 30%
  50%
    width: 30%
  70%
    width: 70%
  80%
    left: 50%
  95%
    left: 120%
  to
    left: 100%


// App header
header
  background-color: $blue
  display: flex
  .container
    display: flex
    flex-direction: row
    align-items: center
    justify-content: flex-start
    width: 100%
    text-decoration: none
    img
      max-height: 70px
      opacity: 0.8
    h1
      color: $white
      margin-left: 20px
      font-size: 1.4em
      flex: 1
      span
        opacity: 0.5

// Main menu
nav
  ul
    border-bottom: 1px solid $grey4
    margin-bottom: 10px
    li
      display: inline-block
      padding: 15px 20px 15px 0px
      font-size: 1.1em
      a
        color: $grey2
        text-decoration: none
        &:hover
          text-decoration: underline

// App footer
footer
  background-color: $grey1
  color: $grey5
  h3
    color: $grey5
    margin-bottom: 10px
  ul
    li
      margin-bottom: 3px
      a
        color: $grey5
        text-decoration: none
        &:hover
          text-decoration: underline
  .copyright-notice
      opacity: 0.5
      font-size: 0.85em
      margin-top: 20px

// Basic view container styles
main
  margin-bottom: 40px
  h2
    font-size: 2em
    margin-bottom: 10px

section.banner
  background-color: lighten($blue, 5)
  color: $grey5
  font-size: 0.8em
  .container
    padding: 8px 14px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    a
      color: $grey5
    img
      margin-right: 15px

// First breakpoint
@media screen and (min-width: 600px)
  nav
    ul
      margin-bottom: 25px
  main
    h2
      font-size: 2.5em
  a.button, button
    padding: 15px
    font-size: 1.1em
    min-width: 130px

// Second breakpoint
@media screen and (min-width: 1300px)
  nav
    ul
      margin-bottom: 40px
