main.events select {
  margin: 0px 10px 10px 0px;
  border-radius: 1px;
  background-color: #ffffff;
  border: none;
  color: #707070;
  font-family: "Nunito Sans", "Helvetica", sans-serif;
  font-size: 0.9em;
  display: inline-block;
  padding: 5px;
  -webkit-appearance: none;
  padding-right: 20px;
  background-image: url("/arrow.svg");
  background-position: center right;
  border-right: 4px solid #ffffff;
  background-size: 15px 8px;
  background-repeat: no-repeat; }

main.events ul.events-navigation {
  border-bottom: 1px solid #cfcfcf;
  margin: 25px 0px 30px 0px; }
  main.events ul.events-navigation li {
    display: inline-block;
    margin-right: 15px;
    font-size: 0.9em; }
    main.events ul.events-navigation li a {
      display: inline-block;
      color: #707070;
      padding-bottom: 12px;
      text-decoration: none;
      border-bottom: 5px solid #f6f6f6; }
      main.events ul.events-navigation li a.active {
        border-bottom: 5px solid #4a6bf6;
        pointer-events: none;
        text-decoration: none !important; }
      main.events ul.events-navigation li a:hover {
        text-decoration: underline; }

main.events ul.events-list {
  margin-top: 20px; }
  main.events ul.events-list span.time-label {
    display: inline-block;
    margin: 10px auto;
    color: #707070; }
  main.events ul.events-list li.decoration-item {
    text-align: center;
    border: 0.5px solid #969696;
    margin-bottom: 10px;
    color: #969696;
    border-radius: 1px;
    padding: 10px; }
  main.events ul.events-list li.event-item {
    width: 100%;
    margin-bottom: 10px;
    background-color: #ffffff;
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
    animation: fadeInUp 0.2s ease-out;
    animation-fill-mode: forwards;
    opacity: 0; }
    main.events ul.events-list li.event-item i {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 15px;
      color: #4a6bf6; }
    main.events ul.events-list li.event-item a {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      text-decoration: none;
      position: relative; }
      main.events ul.events-list li.event-item a div.image {
        width: 150px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-position: center;
        background-size: cover;
        border-radius: 1px; }
      main.events ul.events-list li.event-item a aside {
        width: 75%;
        margin-left: 150px;
        padding: 15px; }
        main.events ul.events-list li.event-item a aside h5 {
          color: #969696;
          margin-bottom: 3px;
          font-size: 0.9em; }
        main.events ul.events-list li.event-item a aside h3 {
          font-size: 1.2em; }
        main.events ul.events-list li.event-item a aside p {
          color: #969696;
          margin-top: 3px;
          font-size: 0.9em;
          margin-bottom: 20px; }

main.events section.event-single {
  padding: 0; }
  main.events section.event-single a.orange {
    margin-bottom: 0px; }
  main.events section.event-single ul.themes-list {
    margin: 15px 0px 0px 0px;
    color: #969696; }
    main.events section.event-single ul.themes-list li {
      display: inline-block;
      margin-left: 10px;
      color: #4a6bf6;
      border: 1px solid #4a6bf6;
      padding: 2px 5px;
      font-size: 0.8em;
      border-radius: 1px; }
  main.events section.event-single h3 {
    font-size: 2.2em;
    margin: 5px 0px; }
  main.events section.event-single h5 {
    font-size: 1.1em;
    color: #969696;
    margin-bottom: 5px; }
    main.events section.event-single h5 span {
      color: #707070; }
  main.events section.event-single div.image {
    max-width: 100%;
    height: 0px;
    padding-bottom: 50%;
    background-position: center;
    background-size: cover;
    margin: 20px auto; }
  main.events section.event-single article {
    color: #707070;
    margin: 30px 0px; }

@media screen and (min-width: 600px) {
  main.events ul.events-navigation li {
    font-size: 1em; }
  main.events ul.events-list li.event-item a div.image {
    width: 200px; }
  main.events ul.events-list li.event-item a aside {
    padding: 20px;
    margin-left: 200px; }
    main.events ul.events-list li.event-item a aside h3 {
      font-size: 1.4em; } }
