main.info h3 {
  margin-top: 40px; }

main.info section.user-profile {
  background-color: #ffffff;
  padding: 10px;
  margin-top: 5px;
  border-radius: 1px; }
  main.info section.user-profile img {
    float: right;
    width: 50px;
    height: auto;
    border-radius: 100%; }
  main.info section.user-profile p {
    font-size: 0.9em;
    margin-top: 3px; }

main.info ul.pages-list {
  margin: 20px 0px 40px 0px; }
  main.info ul.pages-list li.page-item {
    display: block;
    padding: 15px;
    width: 100%;
    margin-bottom: 10px;
    background-color: #ffffff;
    position: relative;
    border-radius: 1px;
    cursor: pointer; }
    main.info ul.pages-list li.page-item h4 {
      font-size: 1.1em;
      color: #333; }
    main.info ul.pages-list li.page-item article {
      margin-top: 15px; }
      main.info ul.pages-list li.page-item article p {
        margin-bottom: 10px; }
      main.info ul.pages-list li.page-item article a {
        color: #4a6bf6; }
      main.info ul.pages-list li.page-item article ol, main.info ul.pages-list li.page-item article ul {
        list-style-type: disc;
        margin-left: 20px;
        margin-top: -5px;
        margin-bottom: 10px; }
        main.info ul.pages-list li.page-item article ol li, main.info ul.pages-list li.page-item article ul li {
          color: #707070;
          padding-left: 5px; }
    main.info ul.pages-list li.page-item.active {
      cursor: default; }
