@import 'variables.sass'

main.info
  h3
    margin-top: 40px
  section.user-profile
    background-color: $white
    padding: 10px
    margin-top: 5px
    border-radius: 1px
    img
      float: right
      width: 50px
      height: auto
      border-radius: 100%
    p
      font-size: 0.9em
      margin-top: 3px

  ul.pages-list
    margin-top: 20px
    li.page-item
      display: block
      padding: 15px
      width: 100%
      margin-bottom: 10px
      background-color: $white
      position: relative
      border-radius: 1px
      cursor: pointer
      h4
        font-size: 1.1em
        color: $grey1
      article
        margin-top: 15px
        p
          margin-bottom: 10px
        a
          color: $blue
        ol, ul
          list-style-type: disc
          margin-left: 20px
          margin-top: -5px
          margin-bottom: 10px
          li
            color: $grey2
            padding-left: 5px
      &.active
        cursor: default
