@import 'variables.sass'

main.update-single
  div.image
    max-width: 100%
    height: 0px
    padding-bottom: 50%
    background-position: center
    background-size: cover
    margin: 30px auto
    border-radius: 1px
  img
    width: 100%
    margin: 10px auto
  ul.themes-list
    margin: 25px 0px 0px 0px
    color: $grey3
    li
      display: inline-block
      margin-left: 10px
      color: $blue
      border: 1px solid $blue
      padding: 2px 5px
      font-size: 0.8em
      border-radius: 1px
  h2
    font-size: 2.2em
    line-height: 1.2em
    margin: 0
  h5
    margin: 5px 0px
    font-size: 1.1em
    color: $grey3
    span
      color: $grey2
  p
    font-size: 1.1em
    margin-top: 20px
    a
      color: $blue

@media screen and (min-width: 500px)
  main.update-single
    h2
      font-size: 3em

main.updates
  ul.updates-list
    margin-top: 20px
    li.update-item
      width: 100%
      margin-bottom: 20px
      background-color: $white
      position: relative
      border-radius: 1px
      overflow: hidden
      cursor: pointer
      animation: fadeInUp 0.2s ease-out
      animation-fill-mode: forwards
      opacity: 0
      a
        display: flex
        flex-direction: column
        text-decoration: none
        div.image
          width: 100%
          flex: 1
          height: 200px
          background-position: center
          background-size: cover
        aside
          padding: 15px
          flex: 1
          h3
            font-size: 1.2em
          p
            color: $grey3
            margin-top: 3px
            font-size: 0.9em

@media screen and (min-width: 500px)
  main.updates
    ul.updates-list
      li.update-item
        &:nth-of-type(even)
        a
          flex-direction: row
          div.image
            width: 300px
            flex: 1
            height: 200px
          aside
            flex: 1
            width: 50%
            padding: 20px
            h3
              font-size: 1.5em
