main.update-single div.image {
  max-width: 100%;
  height: 0px;
  padding-bottom: 50%;
  background-position: center;
  background-size: cover;
  margin: 30px auto;
  border-radius: 1px; }

main.update-single img {
  width: 100%;
  margin: 10px auto; }

main.update-single ul.themes-list {
  margin: 25px 0px 0px 0px;
  color: #969696; }
  main.update-single ul.themes-list li {
    display: inline-block;
    margin-left: 10px;
    color: #4a6bf6;
    border: 1px solid #4a6bf6;
    padding: 2px 5px;
    font-size: 0.8em;
    border-radius: 1px; }

main.update-single h2 {
  font-size: 2.2em;
  line-height: 1.2em;
  margin: 0; }

main.update-single h5 {
  margin: 5px 0px;
  font-size: 1.1em;
  color: #969696; }
  main.update-single h5 span {
    color: #707070; }

main.update-single p {
  font-size: 1.1em;
  margin-top: 20px; }
  main.update-single p a {
    color: #4a6bf6; }

main.update-single article {
  margin: 30px auto; }

@media screen and (min-width: 500px) {
  main.update-single h2 {
    font-size: 3em; } }

main.updates ul.updates-list {
  margin-top: 20px; }
  main.updates ul.updates-list li.update-item {
    width: 100%;
    margin-bottom: 20px;
    background-color: #ffffff;
    position: relative;
    border-radius: 1px;
    overflow: hidden;
    cursor: pointer;
    animation: fadeInUp 0.2s ease-out;
    animation-fill-mode: forwards;
    opacity: 0; }
    main.updates ul.updates-list li.update-item a {
      display: flex;
      flex-direction: column;
      text-decoration: none; }
      main.updates ul.updates-list li.update-item a div.image {
        width: 100%;
        flex: 1;
        height: 200px;
        background-position: center;
        background-size: cover; }
      main.updates ul.updates-list li.update-item a aside {
        padding: 15px;
        flex: 1; }
        main.updates ul.updates-list li.update-item a aside h3 {
          font-size: 1.2em; }
        main.updates ul.updates-list li.update-item a aside p {
          color: #969696;
          margin-top: 3px;
          font-size: 0.9em; }

@media screen and (min-width: 500px) {
  main.updates ul.updates-list li.update-item a {
    flex-direction: row; }
    main.updates ul.updates-list li.update-item a div.image {
      width: 300px;
      flex: 1;
      height: 200px; }
    main.updates ul.updates-list li.update-item a aside {
      flex: 1;
      width: 50%;
      padding: 20px; }
      main.updates ul.updates-list li.update-item a aside h3 {
        font-size: 1.5em; } }
